<section class="star-web">
    <nav class="nav-list">
      <div class="logo">
        <a class="Training-Notebook-Logo" href="/start-page">
          <img width="74" height="49" src="{{ logoPath }}" alt="Training-Notebook-Logo" />
        </a>
      </div>
      <div class="nav-buttons">
        <a href="/account"><button><i class="fas fa-user"></i> Profile</button></a>
        <a href="/notes"><button><i class="fas fa-book"></i> Notes</button></a>
        <a href="/bmi-chart"><button><i class="fas fa-envelope"></i> Bmi calculator </button></a>
        <a href="/nutrition"><button><i class="fas fa-cog"></i> Counting food</button></a>
        <a href="/login" (click)="onLogout()"><button><i class="fas fa-sign-out-alt"></i> Logout</button></a>
      </div>
    </nav>
  </section>
  