
<body>

  <div id="photo-background" ></div>
  <navbar-account>(logout)="handleLogout()"</navbar-account>

  <app-profile-photo 
    *ngIf="photo" [loadedImage]="photo.photoUrl" 
    (updateImage)="updateImage($event)">
  </app-profile-photo>  

    <section class="content">
      <div class="profile-form">
            <div class="profile-header">
              <h2>Profile</h2>
            </div>

              <div class="profile-row">
                <span class="profile-label">Email:</span>
                <span class="profile-value">{{ user.email }}</span>
                <div class="change-button" (click)="toggleInput('email')" >Change</div>
              </div>
              <div class="change-weight-input" *ngIf="showEmailInput">
                <input type="text" [(ngModel)]="newEmail" placeholder="New email">
                <button (click)="updateField('email', newEmail)">Update</button>
              </div>

              <div class="profile-row">
                <span class="profile-label">First Name:</span>
                <span class="profile-value">{{ user.firstName }}</span>
                <div class="change-button" (click)="toggleInput('firstName')">Change</div>
              </div>
              <div class="change-weight-input" *ngIf="showFirstNameInput">
                <input type="text" [(ngModel)]="newFirstName" placeholder="New first name">
                <button (click)="updateField('firstName', newFirstName)">Update</button>
              </div>

              <div class="profile-row">
                <span class="profile-label">Last Name:</span>
                <span class="profile-value">{{ user.lastName }}</span>
                <div class="change-button" (click)="toggleInput('lastName')" >Change</div>
              </div>
              <div class="change-weight-input" *ngIf="showLastNameInput">
                <input type="text" [(ngModel)]="newLastName" placeholder="New last name">
                <button (click)="updateField('lastName', newLastName)">Update</button>
              </div>

              <div class="profile-row">
                <span class="profile-label">Username:</span>
                <span class="profile-value">{{ user.username }}</span>
                <div class="change-button" (click)="toggleInput('username')">Change</div>
              </div>
              <div class="change-weight-input" *ngIf="showUsernameInput">
                <input type="text" [(ngModel)]="newUsername" placeholder="New username">
                <button (click)="updateField('username', newUsername)">Update</button>
              </div>
          </div>

      <app-profile-body 
        *ngIf="body" 
        [loadedBodyProfile]="body" 
        (profileUpdate)="updateBodyProfile($event.fieldName, $event.updatedValue)"
      >
      </app-profile-body>
      
    </section>
</body>