
<body>

  <div id="photo-background" ></div>
  <navbar-account>(logout)="handleLogout()"</navbar-account>

  <app-profile-photo 
    *ngIf="photo" [loadedImage]="photo.photoUrl" 
    (updateImage)="updateImage($event)">
  </app-profile-photo>  

  <section class="content">
     
    <app-profile-user 
      *ngIf="user" [loadedUserProfile]="user"
      (profileUpdate)="updateUserProfile($event.fieldName, $event.updatedValue)">
    </app-profile-user>

    <app-profile-body 
    [loadedLimitsProfile]="limits" 
    [loadedBodyProfile]="body" 
    *ngIf="body && limits"
    (profileUpdate)="updateBodyProfile($event.fieldName, $event.updatedValue)"
    (limitUpdate)="updateLimitsProfile($event.fieldName, $event.updatedValue)">
  </app-profile-body>
  
      
    </section>
</body>