<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
</head>
<body>
    <div class="star-web">
        <div class="header">
            <a class="Training-Notebook-Logo" href="/start-page"><img width="164" height="169" [src]="logoPath" alt="Training-Notebook-Logo" /></a>
            <nav>
                <ul class="nav-list">
                    <li>
                        <a href="https://facebook.com" class="facebook">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/facebook-circled.png" alt="facebook-circled"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/mat-rys" class="github">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/github.png" alt="github"/>
                        </a>
                    </li>
                    <li>
                        <a href="linkedin" class="linkedin">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/linkedin.png" alt="linkedin"/>
                        </a>
                    </li> 
                </ul>
            </nav>
        </div>
    </div>
    <hr class="separator1"> <!-- Czarna linia oddzielająca --> 
    
    <section class="hero">
        <div class="register-section">
            <div class="left-column">
                <p class="hero-title">90% of customers buy a premium account,  <br> 
                    create an account and learn about the possibilities</p>
                <div class="form-fields">
                    <div class="input-field">
                        <input type="text" class="firstname" placeholder="First name" [(ngModel)]="firstName">
                        <img src="https://img.icons8.com/ios/61005/name.png" alt="Username Icon" class="input-icon">
                    </div>
                    <div class="input-field">
                        <input type="text" class="lastname" placeholder="Last name" [(ngModel)]="lastName">
                        <img src="https://img.icons8.com/ios/61005/name.png" alt="Password Icon" class="input-icon">
                    </div>
                    <div class="input-field">
                        <input type="text" class="email" placeholder="Email" [(ngModel)]="email">
                        <img src="https://img.icons8.com/ios/12623/email.png" alt="Password Icon" class="input-icon">
                    </div>
                    <div class="input-field">
                        <input type="text" class="username" placeholder="Username" [(ngModel)]="username">
                        <img src="https://img.icons8.com/ios/452/username.png" alt="Username Icon" class="input-icon">
                    </div>
                    <div class="input-field">
                        <input type="text" class="password" placeholder="Password" [(ngModel)]="password" (keydown.enter)="registerAccount()">
                        <img src="https://img.icons8.com/ios/452/password.png" alt="Username Icon" class="input-icon">
                    </div>                    
                </div>
                <div class="input">
                
                    <button class="login-button" (click)="registerAccount()">Register</button>
                </div>
                <p class="register-link">Already have account? <a href="/login">Log into </a></p>
            </div>
            <div class="right-column">
                <img [src]="women_registration" alt="Your Image" class="image"/>
            </div>
        </div>
    </section>
    
 
    <section class="foot">
        <p>(c) Copyright Mateusz  2024. All rights reserved.</p>
        <a href="#"><button>Privacy Policy</button></a>
        <a href="#"><button>Terms & Conditions</button></a>
    </section>
</body>