.content {
     margin-left: 1000px;
     margin-bottom: 220px;
     text-align: center;
   }
     
     .header {
       display: flex;
       align-items: center;
     }
     
     .hero {
       background-color: #0D66B4;
       padding: 50px;
       text-align: center;
     }
     
     .search-container {
       display: flex;
       align-items: center;
       justify-content: center;
     }
     
     .search-container input {
       padding: 10px;
       border: none;
       border-radius: 29px; 
       margin-right: 10px;
       width: 400px; 
       height: 20px; 
     }
     
     .round-button {
       padding: 12px;
       border: none;
       border-radius: 50%;
       height: 30px;
       width: 30px; 
       background-color: white;;
       color: white;
       cursor: pointer;
     }
     
   .Body {
    background-color: #E9E9E9;
     margin-left:-840px; 
     margin-top: 70px;
     padding: 40px;
     border-radius: 15px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
     height: auto;
     width: 640px;
   }
   
   .additional-box{
     margin-top: -40px;
   }
   
   .profile-form {
     background-color: #E9E9E9;
     margin-left: -500px;
     padding: 40px;
     margin-top: 50px;
     border-radius: 15px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
     height: auto;
     width: 300px;
   }
   
   
   .profile-form h2 {
       margin: 0;
   }
   
   .profile-info {
     text-align: left;
     padding: 20px;
     width: 100%; 
     display: flex;
     flex-wrap: wrap; 
   }
   
   .profile-row {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-bottom: 10px;
   }
   
   .profile-label {
       font-weight: bold;
       flex: 1;
   }
   
   .profile-value {
     flex: 2;
     margin-left: 10px;
     word-wrap: break-word;
     overflow-wrap: break-word;
     min-width: 0;
     flex-basis: 100%;
     white-space: normal;
   }
   
   .profile-header{
     margin-bottom: 15px;
   }
   

   .slider-container {
     display: flex;
     overflow: hidden;
     width: 100%;
     transition: transform 0.3s ease-in-out;
   }
   
   .profile-slide {
     flex: 0 0 100%;
     padding: 10px;
     box-sizing: border-box;
     opacity: 0; 
     transition: opacity 0.3s ease-in-out;
   }
   
   .profile-slide.active {
     opacity: 1;
   }
   
   .slider-button {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     background: none;
     border: none;
     font-size: 24px;
     cursor: pointer;
   }
   
   .left-button {
     left: 10px;
   }
   
   .right-button {
     right: 10px;
   }
   
   .change-button {
     display: none;
     cursor: pointer;
     background-color: #2E8B57;
     color: #fff;
     padding: 3px 6px;
     border-radius: 3px;
     font-size: 12px;
     margin-left: 10px;
   }
   
   .profile-row:hover .change-button {
     display: inline;
   }
   
   
   .change-weight-input input[type="text"],
   .change-weight-input input[type="number"],
   .change-weight-input select {
     width: 150px;
     padding: 10px;
     margin-right: 10px;
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: 11px;
   }
   
   .change-weight-input button {
     padding: 10px 20px;
     background-color: #2E8B57;
     color: #fff; 
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 11px;
     transition: background-color 0.3s;
   }
   
   .change-weight-input button:hover {
     background-color: #24693D; 
   }
   
   
   