<section class="Body">
    <div class="additional-section">
      <div class="additional-box" >
        <h2>Body informations</h2>
  
        <div class="profile-row">
          <span class="profile-label">Weight:</span>
          <span class="profile-value">{{ loadedBodyProfile.weight }} kg</span>
          <div class="change-button" (click)="toggleInput('weight')">Change</div>
        </div>
        <div class="change-weight-input" *ngIf="showWeightInput">
          <input type="number" [(ngModel)]="newWeight" placeholder="New Weight">
          <button (click)="onProfileUpdate('weight', newWeight)">Update</button>
        </div>
  
        <div class="profile-row">
          <span class="profile-label">Height:</span>
          <span class="profile-value">{{ loadedBodyProfile.height }} cm</span>
          <div class="change-button" (click)="toggleInput('height')">Change</div>
        </div>
        <div class="change-weight-input" *ngIf="showHeightInput">
          <input type="number" [(ngModel)]="newHeight" placeholder="New Height">
          <button (click)="onProfileUpdate('height', newHeight)">Update</button>
        </div>
  
        <div class="profile-row">
          <span class="profile-label">Gender:</span>
          <span class="profile-value">{{ loadedBodyProfile.gender }}</span>
          <div class="change-button" (click)="toggleInput('gender')">Change</div>
      </div>
      <div class="change-weight-input" *ngIf="showGenderInput">
        <select [(ngModel)]="newGender" placeholder="New Gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <button (click)="onProfileUpdate('gender', newGender)">Update</button>
      </div>
      
        <div class="profile-row">
          <span class="profile-label">Age:</span>
          <span class="profile-value">{{ loadedBodyProfile.age }}</span>
          <div class="change-button" (click)="toggleInput('age')">Change</div>
        </div>
        <div class="change-weight-input" *ngIf="showAgeInput">
          <input type="number" [(ngModel)]="newAge" placeholder="New Age">
          <button (click)="onProfileUpdate('age', newAge)">Update</button>
        </div>
  

        <div class="profile-row">
          <span class="profile-label">Goals:</span>
          <span class="profile-value">{{ loadedBodyProfile.goals }}</span>
          <div class="change-button" (click)="toggleInput('goals')">Change</div>
        </div>
        <div class="change-weight-input" *ngIf="showGoalsInput">
          <input type="text" [(ngModel)]="newGoals" placeholder="New Goals">
          <button (click)="onProfileUpdate('goals', newGoals)">Update</button>
        </div>
      </div>
    </div>
  </section>