
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
</head>
<body>
    <div class="star-web">
        <nav class="nav-list">
          <div class="logo">
            <a class="Training-Notebook-Logo" href="http://localhost:4200/">
              <img width="174" height="179" [src]="logoPath" alt="Training-Notebook-Logo" />
            </a>
          </div>
          <div class="nav-buttons">
            <a href="http://localhost:4200/account"><button><i class="fas fa-user"></i> Profile</button></a>
            <a href="http://localhost:4200/notes"><button><i class="fas fa-book"></i> Notes</button></a>
            <a href="http://localhost:4200/calendar"><button><i class="fas fa-envelope"></i> Calendar</button></a>
            <a href="http://localhost:4200/bmi-chart"><button><i class="fas fa-envelope"></i> Bmi calculator </button></a>
            <a href="http://localhost:4200/settings"><button><i class="fas fa-cog"></i> Settings</button></a>
            <a href="#"><button><i class="fas fa-sign-out-alt"></i> Logout</button></a>
          </div>
        </nav>
      </div>

      
      
      
      
     

  
    

    
    
     
      <section class="foot">
        <p>&copy; Copyright Robert Fox 2022. All rights reserved.</p>
        <a href="#"><button>Privacy Policy</button></a>
        <a href="#"><button>Terms & Conditions</button></a>
      </section>
</body>