
<body>
  <div id="photo-background" ></div>
  <navbar-calcs> (logout)="handleLogout()"></navbar-calcs> 

  <section class="content">
    <div class="bmi">
      <h2>Calculate Your BMI</h2>
      <input [(ngModel)]="weight" type="number" name="weight" class="input-field" placeholder="Weight (kg)" (input)="onInputChange()"><br />
      <input [(ngModel)]="height" type="number" name="height" class="input-field" placeholder="Height (cm)" (input)="onInputChange()"><br />
      <button class="calculate-button" (click)="calculateBMI(weight, height)">Calculate BMI</button><br />
      <p>BMI is a measurement that assesses<br />
        the relationship between a person's weight<br /> 
        and height,and it's used to evaluate <br />
        their nutritional status.</p><br />
     <p>BMI Value Ranges:<br />
       Less than 16 - underweight<br />
       16 - 16.99 - severe thinness<br />
       17 - 18.49 - mild thinness<br />
       18.5 - 24.99 - normal weight<br />
       25 - 29.99 - overweight<br />
       30 - 34.99 - obesity class I<br />
       35 - 39.99 - obesity class II<br />
       40 or greater - extreme obesity</p>
    </div>

    <div class="bmr">
      <h2>Calculate Your BMR</h2>
    <div class="gender-options">
      <label for="male2" [ngClass]="{'male-button-selected': selectedGender === 'male'}">Male</label>
      <input type="radio" name="gender" id="male2" value="male" class="radio-button" [(ngModel)]="selectedGender" [ngClass]="{'male-button': selectedGender === 'male', 'female-button': selectedGender === 'female'}">
      <label for="female2" [ngClass]="{'female-button-selected': selectedGender === 'female'}">Female</label>
      <input type="radio" name="gender" id="female2" value="female" class="radio-button" [(ngModel)]="selectedGender" [ngClass]="{'male-button': selectedGender === 'male', 'female-button': selectedGender === 'female'}">
    </div>
    <input [(ngModel)]="weightBMR" type="number" name="weightBMR" class="input-field" placeholder="Weight (kg)" (input)="onInputChange()"><br />
    <input [(ngModel)]="heightBMR" type="number" name="heightBMR" class="input-field" placeholder="Height (cm)" (input)="onInputChange()"><br />
    <input [(ngModel)]="age" type="number" name="age" class="input-field" placeholder="Age" (input)="onInputChange()"><br />
    <button class="calculate-button" (click)="calculateBMR(weightBMR, heightBMR, age, selectedGender)">Calculate BMR</button><br />
      <p>Your Basal Metabolic Rate (BMR) <br />
        is the number of calories your <br />
        body burns at rest to maintain basic <br />
        life functions, such as breathing, <br />
        circulation, and body temperature.<br />
        BMR can be calculated based on weight, <br />
        height, age, and gender.</p><br />
    </div>

    <div class="body-fat">
      <h2>Calculate Your Body Fat<br />
         Percentage (NHRC) </h2>
      <div class="gender-options">
        <label for="maleBodyFat" [ngClass]="{'male-button-selected': selectedGenderBodyFat === 'male'}">Male</label>
        <input type="radio" name="genderBodyFat" id="maleBodyFat" value="male" class="radio-button" [(ngModel)]="selectedGenderBodyFat" [ngClass]="{'male-button': selectedGenderBodyFat === 'male', 'female-button': selectedGenderBodyFat === 'female'}">
        <label for="femaleBodyFat" [ngClass]="{'female-button-selected': selectedGenderBodyFat === 'female'}">Female</label>
        <input type="radio" name="genderBodyFat" id="femaleBodyFat" value="female" class="radio-button" [(ngModel)]="selectedGenderBodyFat" [ngClass]="{'male-button': selectedGenderBodyFat === 'male', 'female-button': selectedGenderBodyFat === 'female'}">
      </div>
      <input [(ngModel)]="waist" type="number" name="waist" class="input-field" placeholder="Waist (cm)" (input)="onInputChange()"><br />
      <input [(ngModel)]="hips" type="number" name="hips" class="input-field" placeholder="Hips (cm)" (input)="onInputChange()"><br />
      <input [(ngModel)]="neck" type="number" name="neck" class="input-field" placeholder="Neck (cm)" (input)="onInputChange()"><br />
      <input [(ngModel)]="heightBodyFat" type="number" name="heightBodyFat" class="input-field" placeholder="Height (cm)" (input)="onInputChange()"><br />
      <button class="calculate-button" (click)="calculateBodyFat(waist, hips, neck, heightBodyFat, selectedGenderBodyFat)">Calculate Body Fat Percentage</button><br />
      <p>NHRC is a multifunctional health calculator <br />
        that enables more precise calculation <br />
        of body fat percentage <br />
      </p>
    </div>
  </section>
  
  <section class="results">
    <div class="result-bmi">
      <h2>BMI Results</h2>
      <p *ngIf="bmiResult !== null">Your BMI is: <span id="bmiResult">{{ bmiResult }}</span></p>
      <p *ngIf="bmiResult === null">Enter weight and height to calculate BMI.</p>
    </div>
    <div class="result-bmr">
      <h2>BMR Results</h2>
      <p *ngIf="bmrResult !== null">Your BMR is: <span id="bmrResult">{{ bmrResult }}</span></p>
      <p *ngIf="bmrResult === null">Enter weight, height, age, and gender to calculate BMR.</p>
    </div>
    <div class="result-body-fat">
      <h2>Body Fat Percentage Results</h2>
      <p *ngIf="bodyFatResult !== null">Your Body Fat Percentage is: <span id="bodyFatResult">{{ bodyFatResult }}</span></p>
      <p *ngIf="bodyFatResult === null">Enter waist, hips, neck, height, and gender to calculate Body Fat Percentage.</p>
    </div>
  </section>
</body>