
<body>

  <div id="photo-background" ></div>
  <navbar-account>(logout)="handleLogout()"</navbar-account>

  <app-profile-photo 
    *ngIf="photo" [loadedImage]="photo.photoUrl" 
    (updateImage)="updateImage($event)">
  </app-profile-photo>  

  <section class="content">
     
    <app-profile-user 
      *ngIf="user" [loadedUserProfile]="user"
      (profileUpdate)="updateUserProfile($event.fieldName, $event.updatedValue)">
    </app-profile-user>

    <app-profile-body 
      *ngIf="body" [loadedBodyProfile]="body" 
      (profileUpdate)="updateBodyProfile($event.fieldName, $event.updatedValue)">
    </app-profile-body>
        
     
    
  </section>

  <!-- <div class="add-note-button">
    <a href="/account/body-measurement">
      <button>
        <i class="fas fa-add"></i> Obwody ciała
      </button>
    </a>
  </div> -->
</body>