body {
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .star-web {
    display: flex;
    justify-content: center; /* Wyśrodkuj pasek nawigacyjny w poziomie */
    align-items: center;
    padding: 0px;
    background-color: #092640;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row; /* Zmień na poziomy układ */
    align-items: center;
    justify-content: flex-end; /* Przesuń przyciski na prawą stronę */
   
    margin-top: 5px;
  
    width: auto; /* Ustaw szerokość na auto, aby dopasować do ilości przycisków */
  }
  
  .nav-list .logo {
    display: flex;
    justify-content: flex-end; /* Przesuń logo na prawy róg */
    align-items: center;
    margin-right: 20px; /* Przesuń logo tylko o 20px w prawo */
  }
  
  .nav-list .logo a:hover {
    color: #4009A5; /* Ustaw kolor tekstu na fioletowy */
    color: #fff;
    border-radius: 20px; /* Dodano zaokrąglenie na hover */
  }
  
  /* Przyciski nawigacyjne */
  .nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center; /* Przesuń przyciski na środek */
  
  }
  
  .nav-buttons a {
    text-decoration: none;
  }
  
  .nav-buttons button {
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-radius 0.3s ease-in-out; /* Dodano transition na border-radius */
    border-radius: 0; /* Usunięto border-radius z początkowego stylu */
  }
  
  .nav-buttons button:hover {
    background-color: #4009A5;
    color: #fff;
    border-radius: 20px; /* Dodano zaokrąglenie na hover */
  }
  
  .content {
    flex-grow: 1;
    margin-left: 200px; 
  }
     
    .hero {
      padding: 50px;
      text-align: center;
    }
    
    .search-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .search-container input {
      padding: 10px;
      border: none;
      border-radius: 29px; 
      margin-right: 10px;
      width: 400px; 
      height: 20px; 
    }
    
    .round-button {
      padding: 12px;
      border: none;
      border-radius: 50%;
      height: 30px;
      width: 30px; 
      background-color: white;;
      color: white;
      cursor: pointer;
    }
    
  
  
    .background-content-photo {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(50%);
      transform: scale(1.1); /* Przykładowe powiększenie o 10% */
    }



    .content {
      flex-grow: 1;
      margin-left: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .header {
      display: flex;
      align-items: center;
    }
    
    .hero {
      padding: 50px;
      text-align: center;
    }
    
    .search-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .search-container input {
      padding: 10px;
      border: none;
      border-radius: 29px;
      margin: 10px 0;
      width: 400px;
    }
    
    .round-button {
      padding: 12px;
      border: none;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      background-color: white;
      color: white;
      cursor: pointer;
    }
    
    .background-content-photo {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(40%);
      transform: scale(1.1);
    }
    
    .submit-button {
      padding: 8px 20px;
      background: linear-gradient(to bottom, #00B2C8, #480DF0);
      color: #fff;
      border: none;
      margin: 0px;
      margin-left: 30px;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }
  
    
    .black-text {
      color: #000; /* Kolor tekstu czarny */
    }
    
    .search-container input, .search-container textarea {
      padding: 10px;
      border: none;
      border-radius: 29px;
      margin: 10px 0;
      width: 400px;
    }
    
   
   

    .input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-left: -70px;
  width:400px;
  padding: 5px;
  border-radius: 5px;
}

label {
  flex: 1;
  padding: 5px;
  color: #fff;
}

input {
  flex: 3;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.products-list-button {
  display: flex;
  justify-content: flex-end;
  margin-left: 950px;
  margin-top: 12px;
}

.products-list-button  button {
  padding: 10px 20px; /* Zwiększ odstępy wewnątrz przycisku */
  font-size: 16px;
  background:  #480DF0;
  color: #fff;
  border: none;
  border-radius: 30px; /* Zaokrąglij krawędzie przycisku */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.5s ease;
}

.products-list-button  button:hover {
  background-color:  #0056b3; /* Kolor przycisku "Add Note" po najechaniu myszką */
  transform: scale(1.1);
}

.product-created-message {
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999; /* Upewnij się, że wiadomość jest na wierzchu */
}

.product-created-message p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.product-error-message {
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f44336; /* Kolor czerwony */
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999; /* Upewnij się, że wiadomość jest na wierzchu */
}

.product-error-message p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
