<div class="profile-form">
    <div class="profile-header">
      <h2>Profile</h2>
    </div>

      <div class="profile-row">
        <span class="profile-label">Email:</span>
        <span class="profile-value">{{ loadedUserProfile.email }}</span>
        <div class="change-button" (click)="toggleInput('email')" >Change</div>
      </div>
      <div class="change-weight-input" *ngIf="showEmailInput">
        <input type="text" [(ngModel)]="newEmail" placeholder="New email">
        <button (click)="onProfileUpdate('email', newEmail)">Update</button>
      </div>

      <div class="profile-row">
        <span class="profile-label">First Name:</span>
        <span class="profile-value">{{ loadedUserProfile.firstName }}</span>
        <div class="change-button" (click)="toggleInput('firstName')">Change</div>
      </div>
      <div class="change-weight-input" *ngIf="showFirstNameInput">
        <input type="text" [(ngModel)]="newFirstName" placeholder="New first name">
        <button (click)="onProfileUpdate('first_name', newFirstName)">Update</button>
      </div>

      <div class="profile-row">
        <span class="profile-label">Last Name:</span>
        <span class="profile-value">{{ loadedUserProfile.lastName }}</span>
        <div class="change-button" (click)="toggleInput('lastName')" >Change</div>
      </div>
      <div class="change-weight-input" *ngIf="showLastNameInput">
        <input type="text" [(ngModel)]="newLastName" placeholder="New last name">
        <button (click)="onProfileUpdate('last_name', newLastName)">Update</button>
      </div>

      <div class="profile-row">
        <span class="profile-label">Username:</span>
        <span class="profile-value">{{ loadedUserProfile.username }}</span>
        <div class="change-button" (click)="toggleInput('username')">Change</div>
      </div>
      <div class="change-weight-input" *ngIf="showUsernameInput">
        <input type="text" [(ngModel)]="newUsername" placeholder="New username">
        <button (click)="onProfileUpdate('username', newUsername)">Update</button>
      </div>
  </div>