<body>
  <div id="photo-background" ></div>
  <app-navbar (logout)="handleLogout()"></app-navbar> 

  <div class="add-meal-button">
    <button (click)="toggleMealFormAdd()">Add new Meal</button>
  </div>
  <div class="go-statisctics-button">
    <a href="/nutrition/limits"><button><i class="fas fa-add"></i> Limits nutrition</button></a>
  </div>
  <div class="add-product-button">
    <a href="/nutrition/product-add"><button><i class="fas fa-add"></i> Add new product</button></a>
  </div>
  <div class="products-list-button">
    <a href="/nutrition/products-list"><button><i class="fas fa-add"></i> Products list</button></a>
  </div>
  <div class="go-statisctics-button">
    <a href="/nutrition/statistics"><button><i class="fas fa-add"></i> Statistics</button></a>
  </div>


  
  <div class="tips-container">
    <button class="ai-button modern" (click)="loadAiOpinion()">Generate AI opinion on meals</button>
    <div *ngIf="aiOpinionLoading">Loading AI opinion, please wait...</div>
    <div *ngIf="aiOpinion" class="ai-opinion"
      [innerHTML]="aiOpinion">
    </div>
    <div class="image-container">
      <img *ngIf="imageUrl" [src]="imageUrl" alt="Random Image" class="random-image" />
    </div>
  </div>
  

  
  
  
  <section class="content">
    <app-create-meal 
      [showMealFormAdd]="showMealFormAdd" 
      (create)="handleCreateMeal($event)">
    </app-create-meal>

    <app-edit-meal 
      [showMealFormEdit]="showMealFormEdit"
      [editedMeal]="editedMeal"
      (edit)="handleEditMeal($event)">
    </app-edit-meal>
  
    <app-list-meals 
      [loadedMeals]="meals"
      [datesWithNotes]="datesWithNotes" 
      (deleteMeal)="deleteMeal($event)"
      (addProducts)="addProductsToMeal($event)"
      (mealToEdit)="editMeal($event)"
      (loadMealsEvent)="loadMeals($event)"
      (dateChanged)="onDateChanged($event)"> 
    </app-list-meals>
  </section>

  
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div> 
</body>