body {
  margin: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  margin-top: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.star-web {
  display: flex;
  justify-content: center; /* Wyśrodkuj pasek nawigacyjny w poziomie */
  align-items: center;
  padding: 0px;
  background-color: #092640;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row; /* Zmień na poziomy układ */
  align-items: center;
  justify-content: flex-end; /* Przesuń przyciski na prawą stronę */
 
  margin-top: 5px;

  width: auto; /* Ustaw szerokość na auto, aby dopasować do ilości przycisków */
}

.nav-list .logo {
  display: flex;
  justify-content: flex-end; /* Przesuń logo na prawy róg */
  align-items: center;
  margin-right: 20px; /* Przesuń logo tylko o 20px w prawo */
}

.nav-list .logo a:hover {
  color: #4009A5; /* Ustaw kolor tekstu na fioletowy */
  color: #fff;
  border-radius: 20px; /* Dodano zaokrąglenie na hover */
}

/* Przyciski nawigacyjne */
.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center; /* Przesuń przyciski na środek */

}

.nav-buttons a {
  text-decoration: none;
}

.nav-buttons button {
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-radius 0.3s ease-in-out; /* Dodano transition na border-radius */
  border-radius: 0; /* Usunięto border-radius z początkowego stylu */
}

.nav-buttons button:hover {
  background-color: #4009A5;
  color: #fff;
  border-radius: 20px; /* Dodano zaokrąglenie na hover */
}

.content {
  flex-grow: 1;
  margin-left: 200px; 
}
  
.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  margin-left: -0px;
  width:400px;
  padding: 5px;
  border-radius: 5px;
}

label {
  flex: 1;
  padding: 5px;
  color: #fff;
}

input {
  flex: 3;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
  
.heroAdd,
.heroEdit {
  padding: 50px;
  text-align: center;
}
  .submit-button {
    padding: 8px 20px;
    background: linear-gradient(to bottom, #00B2C8, #480DF0);
    color: #fff;
    border: none;
    margin: 0px;
    margin-left: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-container input {
    padding: 10px;
    border: none;
    border-radius: 29px; 
    margin-right: 10px;
    width: 400px; 
    height: 20px; 
  }
  
  .round-button {
    padding: 12px;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px; 
    background-color: white;;
    color: white;
    cursor: pointer;
  }
  


  .background-content-photo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    transform: scale(1.1); /* Przykładowe powiększenie o 10% */
  }




/* Styl dla całej sekcji content */
.content {
  margin-top: -120px;
  margin-left: -12px;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Styl dla nagłówka z datą i strzałkami */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Rozsuń strzałki i datę na boki */

  background-color: #4009A5; /* Fioletowe tło */
  border-radius: 4px;
  padding: 10px;
  color: #fff; /* Biały kolor tekstu */
}


/* Styl dla strzałek w nagłówku */
.arrow-left,
.arrow-right {
  font-size: 24px;
  cursor: pointer;
  margin: 0 20px;
  color: #fff;
}

/* Styl dla daty w nagłówku */
.date {
  font-size: 18px;
  color: #fff;
}

/* Styl dla tabeli z treścią */
.nutrition-table {
  width: 100%;
  display: flex;
  flex-direction: row; /* Układ poziomy */
  background-color: #4009A5; /* Fioletowe tło */
  color: #fff;
  
  margin-bottom: 20px;
}

/* Styl dla komórek w tabeli */
.nutrition-table td {
  flex: 1; /* Rozciągnij komórki, aby zajmować tyle miejsca, ile jest dostępne */
  padding: 10px;
  text-align: center; /* Wycentrowanie tekstu */
  border: 1px solid #fff; /* Ramka komórki */
  min-width: 40px;
}

/* Dodaj styl dla komórki z procentami Dziennego Wartości */
.nutrition-table td.percent {
  flex: 1; /* Rozciągnij komórkę procentów */
  padding: 10px;
  text-align: center; /* Wycentrowanie tekstu */
  border: 1px solid #fff; /* Ramka komórki */
  
}

/* Dodaj margines na dole dla wszystkich wierszy poza pierwszym */




/* Styl dla nagłówka tabeli */
.nutrition-table th {
  display: none; /* Ukryj nagłówek */
}
  







/* Dodaj te style do swojego pliku CSS lub styli Angulara */

.meals {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.meal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.meal-info {
  flex: 2;
  padding: 10px;
}


.meal-nutrition {
  flex: 1;
  text-align: right;
}

.meal-nutrient {
  margin: 5px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
  min-width: 535px;
}

.arrow-left,
.arrow-right {
  font-size: 1.5rem;
  cursor: pointer;
}

.date {
  font-weight: bold;
}

.meal {
  transition: transform 0.3s;
  position: relative;
}

.meal:hover {
  transform: scale(1.05);
}

.meal-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.edit-button,
.delete-button,
.add-button {
  background-color: #480DF0;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover,
.add-button:hover {
  background-color: #0056b3;
}



.add-meal-button {
  display: flex;
  justify-content: flex-end;
  margin-left: 950px;
}

.add-meal-button button {
  padding: 10px 20px;
  font-size: 16px;
  background:  #480DF0;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.5s ease;
}

.add-meal-button button:hover {
  background-color:  #0056b3;
  transform: scale(1.1);
}

.add-product-button {
  display: flex;
  justify-content: flex-end;
  margin-left: 950px;
  margin-top: 12px;
}

.add-product-button button {
  padding: 10px 20px;
  font-size: 16px;
  background:  #480DF0;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.5s ease;
}

.add-product-button button:hover {
  background-color:  #0056b3;
  transform: scale(1.1);
}

.products-list-button {
  display: flex;
  justify-content: flex-end;
  margin-left: 950px;
  margin-top: 12px;
}

.products-list-button  button {
  padding: 10px 20px;
  font-size: 16px;
  background:  #480DF0;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.5s ease;
}

.products-list-button  button:hover {
  background-color:  #0056b3;
  transform: scale(1.1);
}

.calendar-container{
  margin-left: px;
  margin-right: 5px;
}

.success-message {
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #32CD32;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.success-message p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.tips-container {
  position: fixed;
  width: 300px;
  top: 350px;
  right: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.tips-container .tip {
  margin-bottom: 10px;
}

  .tips-container h3 {
    font-size: 16px;
    font-weight: bold;
  }

  .tips-container p {
    font-size: 14px;
  }

  .image-container {
    position: absolute;
    top: -60px;
    right: -50px;
  }

  .random-image {
    width: 100px; /* Dostosuj szerokość obrazka */
    height: auto; /* Ustaw automatyczną wysokość, aby zachować proporcje */
  
    padding: 10px; /* Dodaj wypełnienie dla tła obrazka */
  }