body {
  margin: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  margin-top: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.star-web {
  display: flex;
  justify-content: center; /* Wyśrodkuj pasek nawigacyjny w poziomie */
  align-items: center;
  padding: 0px;
  background-color: #092640;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row; /* Zmień na poziomy układ */
  align-items: center;
  justify-content: flex-end; /* Przesuń przyciski na prawą stronę */
 
  margin-top: 5px;

  width: auto; /* Ustaw szerokość na auto, aby dopasować do ilości przycisków */
}

.nav-list .logo {
  display: flex;
  justify-content: flex-end; /* Przesuń logo na prawy róg */
  align-items: center;
  margin-right: 20px; /* Przesuń logo tylko o 20px w prawo */
}

.nav-list .logo a:hover {
  color: #4009A5; /* Ustaw kolor tekstu na fioletowy */
  color: #fff;
  border-radius: 20px; /* Dodano zaokrąglenie na hover */
}

/* Przyciski nawigacyjne */
.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center; /* Przesuń przyciski na środek */

}

.nav-buttons a {
  text-decoration: none;
}

.nav-buttons button {
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-radius 0.3s ease-in-out; /* Dodano transition na border-radius */
  border-radius: 0; /* Usunięto border-radius z początkowego stylu */
}

.nav-buttons button:hover {
  background-color: #4009A5;
  color: #fff;
  border-radius: 20px; /* Dodano zaokrąglenie na hover */
}

.content {
  flex-grow: 1;
  margin-left: 200px; 
}
  
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-container input {
    padding: 10px;
    border: none;
    border-radius: 29px; 
    margin-right: 10px;
    width: 400px; 
    height: 20px; 
  }
  
  .round-button {
    padding: 12px;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px; 
    background-color: white;;
    color: white;
    cursor: pointer;
  }
  
  #photo-background{
    background-image: url("../../../assets/ramen.jpg");
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
    background-size: cover; 
  }

.content {
  margin-top: -120px;
  margin-left: -12px;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.add-meal-button {
  display: flex;
  justify-content: flex-end;
  margin-left: 950px;
}

.add-meal-button button {
  padding: 10px 20px;
  font-size: 16px;
  background:  #480DF0;
  color: #fff;
  border: none;
  border-radius: 30px;
  margin-top: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.5s ease;
}

.add-meal-button button:hover {
  background-color:  #0056b3;
  transform: scale(1.1);
}

.add-product-button {
  display: flex;
  justify-content: flex-end;
  margin-left: 950px;
  margin-top: 12px;
}

.add-product-button button {
  padding: 10px 20px;
  font-size: 16px;
  background:  #480DF0;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.5s ease;
}

.add-product-button button:hover {
  background-color:  #0056b3;
  transform: scale(1.1);
}

.products-list-button {
  display: flex;
  justify-content: flex-end;
  margin-left: 950px;
  margin-top: 12px;
}

.products-list-button  button {
  padding: 10px 20px;
  font-size: 16px;
  background:  #480DF0;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.5s ease;
}

.products-list-button  button:hover {
  background-color:  #0056b3;
  transform: scale(1.1);
}

.calendar-container{
  margin-left: px;
  margin-right: 5px;
}

.success-message {
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #32CD32;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.success-message p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.tips-container {
  position: fixed;
  width: 300px;
  top: 350px;
  right: 220px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.tips-container .tip {
  margin-bottom: 10px;
}

  .tips-container h3 {
    font-size: 16px;
    font-weight: bold;
  }

  .tips-container p {
    font-size: 14px;
  }

  .image-container {
    position: absolute;
    top: -60px;
    right: -50px;
  }

  .random-image {
    width: 100px; /* Dostosuj szerokość obrazka */
    height: auto; /* Ustaw automatyczną wysokość, aby zachować proporcje */
  
    padding: 10px; /* Dodaj wypełnienie dla tła obrazka */
  }