.input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -0px;
    width:400px;
    padding: 5px;
    border-radius: 5px;
  }
  
  label {
    flex: 1;
    padding: 5px;
    color: #fff;
  }
  
  input {
    flex: 3;
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
    
  .heroAdd,
  .heroEdit {
    padding: 50px;
    text-align: center;
    margin-top: -80px;
  }
    .submit-button {
      padding: 8px 20px;
      background: linear-gradient(to bottom, #00B2C8, #480DF0);
      color: #fff;
      border: none;
      margin: 0px;
      margin-left: 30px;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }