<section class="star-web">
  <nav class="nav-list">
      <div class="logo">
          <a class="Training-Notebook-Logo" href="/start-page">
              <img width="74" height="49" src="{{ logoPath }}" alt="Training-Notebook-Logo" />
          </a>
      </div>
      <div class="nav-buttons">
          <a href="/account"><button><i class="fas fa-user"></i> Profil</button></a>
          <a href="/nutrition"><button><i class="fas fa-cog"></i> Posiłki i produkty</button></a>
          <a href="/cooking"><button><i class="fas fa-cog"></i> Pomysł na posiłek</button></a>
          <a href="/notes"><button><i class="fas fa-book"></i> Dziennik aktywności</button></a>
          <a href="/bmi-chart"><button><i class="fas fa-envelope"></i> Kalkualtory</button></a>
          <a href="/login" (click)="onLogout()"><button><i class="fas fa-sign-out-alt"></i> Wyloguj się</button></a>
      </div>
  </nav>
</section>
