<table class="totals">
  <tr>
    <th>Całkowite Kalorie</th>
    <th>Całkowity Tłuszcz</th>
    <th>Całkowite Białko</th>
    <th>Całkowite Węglowodany</th>
  </tr>
  <tr>
    <td>{{ totalCalories | number:'1.0-1' }} kcal</td>
    <td>{{ totalFat | number:'1.0-1' }} g</td>
    <td>{{ totalProtein | number:'1.0-1' }} g</td>
    <td>{{ totalCarbs | number:'1.0-1' }} g</td>
  </tr>
</table>

<div class="added-products">
  <h3>Wybrane Produkty</h3>
  <ul>
    <li *ngFor="let product of selectedProducts">
      <span>{{ product.title }} ({{ product.grams }} g)</span>
      <button (click)="removeAddedProductConfirmation(product)">Usuń</button>
    </li>
  </ul>
</div>
