
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
</head>
<body>
  <div class="background-content-photo">
    <img width="1903" height="1050" src="{{ notesPath }}" alt="Your Image" class="image"/>
  </div>

  <section id="top" lass="star-web">
    <nav class="nav-list">
      <div class="logo">
        <a class="Training-Notebook-Logo" href="/start-page">
          <img width="74" height="49" src="{{ logoPath }}" alt="Training-Notebook-Logo" />
        </a>
      </div>
      <div class="nav-buttons">
        <a href="/account"><button><i class="fas fa-user"></i> Profile</button></a>
        <a href="/notes"><button><i class="fas fa-book"></i> Notes</button></a>
        <a href="/bmi-chart"><button><i class="fas fa-envelope"></i> Bmi calculator </button></a>
        <a href="/nutrition"><button><i class="fas fa-cog"></i> Counting food</button></a>
        <a href="/login"  (click)="logout()"><button><i class="fas fa-sign-out-alt"></i> Logout</button></a>
      </div>
    </nav>
  </section> 

  <div class="add-note-button">
    <a href="/notes-add"><button><i class="fas fa-add"></i> Add note</button></a>
  </div>
  
  <section class="content">
  
     <div *ngIf="editingNote" class="edit-form">
      <h2>Edit Note</h2>
      <input [(ngModel)]="editingNote.title" placeholder="Title">
      <input [(ngModel)]="editingNote.activityType" placeholder="Activity Type">
      <input [(ngModel)]="editingNote.startDate" placeholder="Start Date">
      <input [(ngModel)]="editingNote.endDate" placeholder="End Date">
      <input [(ngModel)]="editingNote.description" placeholder="Description">
      <button (click)="updateNote()">Update</button>
    </div>

    <div *ngFor="let note of notes" class="note-card">
      <h2>{{ note.title }}</h2>
      <p>{{ note.description }}</p>
      <div class="date-info">
        <p><strong>Start Date:</strong> {{ note.startDate | date:'short' }}</p>
        <p><strong>End Date:</strong> {{ note.endDate | date:'short' }}</p>
      </div>
      <div class="action-buttons">
        <button class="edit-button" (click)="scrollToTop()" (click)="editNote(note)"><i class="fas fa-edit"></i> Edit</button>
        <button class="delete-button" (click)="deleteNoteConfirmation(note.id)"><i class="fas fa-trash-alt"></i> Delete</button>
      </div>
    </div>
  </section>
  
  
     

</body>