<body>
  <div id="photo-background" ></div>
  <app-navbar (logout)="handleLogout()"></app-navbar> 

  <section class="content">
    
     
  
    <app-list-search-products 
      [products]="products" 
      [searchQuery]="searchQuery" 
      (deleteProduct)="deleteProduct($event)"
      (sendEditProduct)="updateProduct($event)"
      (addProductToMeal)="addSelectedProductToMeal($event)">
    </app-list-search-products>


  </section>
  
  <section class="added-products-section">
    <table class="totals">
      <tr>
        <th>Total Calories</th>
        <th>Total Fat</th>
        <th>Total Protein</th>
        <th>Total Carbs</th>
      </tr>
      <tr>
        <td>{{ totalCalories | number:'1.0-1' }} kcal</td>
        <td>{{ totalFat | number:'1.0-1' }} g</td>
        <td>{{ totalProtein | number:'1.0-1' }} g</td>
        <td>{{ totalCarbs | number:'1.0-1' }} g</td>
      </tr>
    </table>
     <div class="added-products">
      <h3>Selected Products</h3>
      <ul>
        <li *ngFor="let product of selectedProducts">
          <span>{{ product.title }} ({{ product.grams }} g)</span>
          <button (click)="removeAddedProductConfirmation(product)">Remove</button>
        </li>
      </ul>
    </div>
</section>
       
</body>