
<section class="content">
    <div *ngIf="editingNote" class="edit-form">
     <h2>Edit Note</h2>
     <input [(ngModel)]="editingNote.title" placeholder="Title">
     <input [(ngModel)]="editingNote.activityType" placeholder="Activity Type"  required list="activityTypesList">
       <!-- <datalist id="activityTypesList">
         <option *ngFor="let type of activityTypes" [value]="type"></option>
       </datalist> -->
     <input [(ngModel)]="editingNote.description" placeholder="Description">
     <input [(ngModel)]="editingNote.startDate" type="datetime-local" placeholder="Start Date">
     <input [(ngModel)]="editingNote.endDate" type="datetime-local" placeholder="End Date">
     <button (click)="onUpdateNote()">Update</button>
     <button (click)="cancelEdit()">Cancel</button>
   </div>

   <div *ngFor="let note of loadedNotes" class="note-card" [class.expanded]="note === expandedNote" [@rotateInOut] 
   (mouseover)="expandNote(note)" (mouseout)="closeNote($event)"> <h2>{{ note.title }}</h2>
     <p>{{ note.activityType }}</p>
     <p class="description">{{ note.description }}</p>
     <div class="date-info">
       <p><strong>Start Date:</strong> {{ note.startDate | formatHour }}</p>
       <p><strong>End Date:</strong> {{ note.endDate | formatHour }}</p>
     </div>
     <div class="action-buttons">
       <button class="edit-button" (click)="scrollToTop()" (click)="editNote(note)"><i class="fas fa-edit"></i> Edit</button>
       <button class="delete-button" (click)="onDeleteNote(note.id)"><i class="fas fa-trash-alt"></i> Delete</button>
     </div>
   </div>
 </section>

