<body>
    <div id="photo-background"></div>
    <app-navbar (logout)="handleLogout()"></app-navbar> 

    <section class="content">
        <div class="center-content">
            <div class="search-header">
                <select [(ngModel)]="selectedOption" (ngModelChange)="loadStatistics()">
                    <option *ngFor="let option of options" [value]="option">{{option}}</option>
                </select>

                <label>
                    Start date:
                    <input type="date" [(ngModel)]="startDate" (ngModelChange)="loadStatistics()">
                </label>
                <label>
                    End date:
                    <input type="date" [(ngModel)]="endDate" (ngModelChange)="loadStatistics()">
                </label>
            </div>

            <div id="chart-container">
                <canvas id="canvas" ></canvas>
            </div>

            <div *ngIf="statistics">
            </div>
        </div>
    </section>
</body>