body {
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  #photo-background{
    background-image: url("../../../assets/foodAi.jpg");
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
    width: 100%;
    height: 100%;
    filter: brightness(40%);
    background-size: cover; 
  }
  .content{
    margin-top: 100px;
  }



    .product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
        align-items: flex-start; 
      }
      
      .product-item {
        background-color: #f9f9f9;
        padding: 20px;
        margin: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        min-width: 300px;
        max-width: 400px;
      }
      
      .product-item h2 {
        font-size: 24px;
        margin: 10px 0;
      }
      
      .product-item p {
        font-size: 16px;
        margin: 5px 0;
      }
      

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  .search-input:focus {
    border-color: #007bff;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-item {
    background-color: #f9f9f9;
    padding: 16px;
    margin: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 400px;
    max-width: 400px;
  
  }
  
  .product-item .product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-item h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .product-item .product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-item p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .product-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .product-info {
    font-size: 16px;
  }
  
  .product-info p {
    margin: 5px 0;
  }
  

  .add-product-button {
    display: flex;
    justify-content: flex-end;
    margin-left: 950px;
    margin-top: 12px;
  }
  
  .add-product-button button {
    padding: 10px 20px; 
    font-size: 16px;
    background:  #480DF0;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .add-product-button button:hover {
    background-color:  #0056b3; 
  }

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  padding: 5px;
  font-size: 16px;
  outline: none; 
}

.search-bar button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button i {
  font-size: 18px;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.product-buttons {
  display: flex;
  gap: 10px;
}

.edit-button,
.delete-button,.add-button {
  background: #007BFF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover ,
.add-button:hover{
  background: #0056b3;
}

.edit-form {
  border-radius: 10px; 
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-left: -20px;
  margin-bottom: 30px;
}

.edit-form h2 {
  font-size: 24px;
  color:#fff; 
  margin-bottom: 20px;
}

.edit-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 16px;
}

.edit-form button {
  padding: 8px 20px;
    background: linear-gradient(to bottom, #00B2C8, #480DF0);
    color: #fff;
    border: none;
    margin: 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.edit-form button:hover {
  background-color: #0056b3;
}

.added-products-section {
  position: absolute;
  left: 1260px;
  top: 62px; 
}


.ai-opinion br {
  content: "\A"; /* Dodaje nową linię */
  white-space: pre; /* Zachowuje białe znaki */
}


.ai-opinion {
  position: absolute;
  width: 400px;
  padding: 20px;
  top: 130px;
  left: 8%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 1.5; /* Poprawia czytelność tekstu */
}


.ai-button {
  position: absolute;
  top: 80px;
  left: 200px;
  padding: 10px 20px;
  font-size: 16px;
  background:  #480DF0;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.5s ease;
}

.ai-button:hover {
  background-color:  #0056b3;
  transform: scale(1.1);
}

