<!-- Posiłki, sumy i data -->

<div class="header">
  <span class="arrow-left" (click)="changeDate(-1)">&lt;</span>
  <span class="date">{{ selectedDate }}</span>
  <span class="arrow-right" (click)="changeDate(1)">&gt;</span>

  <div class="my-datepicker">
    <mat-form-field  class="example-full-width">
      <mat-label>Wybierz datę</mat-label>
      <input matInput [matDatepicker]="picker" [value]="selectedDate" (dateChange)="changeDateFromInput($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <label>
    Sortuj godziny:
    <select class="sort-select" [(ngModel)]="sortDirection" (change)="sortMealsByTime()">
      <option value="asc">Rosnąco</option>
      <option value="desc">Malejąco</option>
    </select>
  </label>
   
</div>

<table class="nutrition-table" 
  *ngIf="loadedMeals.length > 0"
  [ngClass]="{'nutrition-table-warning': isCaloriesExceeded || isFatExceeded || isCarbsExceeded || isProteinExceeded}">
  <tr>
    <td>Kalorie</td>
    <td id="calories">{{ totalCalories | number: '1.0-0' }} kcal</td>
  </tr>
  <tr>
    <td>Tłuszcz</td>
    <td id="fat">{{ totalFat | number: '1.0-1' }}g</td>
  </tr>
  <tr>
    <td>Węglowodany</td>
    <td id="carbs">{{ totalCarbs | number: '1.0-1' }}g</td>
  </tr>
  <tr>
    <td>Białko</td>
    <td id="protein">{{ totalProtein | number: '1.0-1' }}g</td>
  </tr>
</table>

<div *ngIf="isCaloriesExceeded || isFatExceeded || isCarbsExceeded || isProteinExceeded" class="alert-icon-container">
  <div class="alert-icon" (mouseenter)="showAlerts = true" (mouseleave)="showAlerts = false">
    &#9888; <!-- Warning exclamation mark icon -->
  </div>

  <div class="alert-container" *ngIf="showAlerts">
    <div *ngIf="isCaloriesExceeded" class="alert alert-warning">
      Uwaga: Przekroczono limit kalorii!
    </div>
    <div *ngIf="isFatExceeded" class="alert alert-warning">
      Uwaga: Przekroczono limit tłuszczu!
    </div>
    <div *ngIf="isCarbsExceeded" class="alert alert-warning">
      Uwaga: Przekroczono limit węglowodanów!
    </div>
    <div *ngIf="isProteinExceeded" class="alert alert-warning">
      Uwaga: Przekroczono limit białka!
    </div>
  </div>
</div>



<div class="copy" *ngIf="showCopyMealForm">
  <form (submit)="submitCopiedMeal()" class="heroAdd">
    <h2 class="copy-title">Kopiuj Posiłek</h2> <!-- Specyficzny tytuł dla sekcji -->
    
    <!-- Informacje o posiłku -->
    <div class="meal-info-copy">
      <p><strong>Tytuł:</strong> {{ mealToCopy?.title }}</p> <!-- Wyświetlenie tytułu kopiowanego posiłku -->
    </div>

    <div class="input-container">
      <label for="day">Dzień:</label>
      <input type="date" id="day" [(ngModel)]="copiedMealDate" name="day" required>
    </div>
    
    <div class="input-container">
      <label for="mealTime">Czas posiłku:</label>
      <input type="time" id="mealTime" [(ngModel)]="copiedMealTime" name="mealTime" required>
    </div>

    <div>
      <button type="submit" class="submit-button">Kopiuj posiłek</button>
      <button type="button" (click)="resetCopyForm()" class="submit-button cancel-button">Anuluj</button>
    </div>
  </form>
</div>


<div class="meals">
  <div *ngFor="let meal of loadedMeals" class="meal">
    <div class="meal-info">
      <p class="meal-time">{{ meal.mealTime | slice:0:5 }}</p> 
      <p class="meal-name">{{ meal.title }}</p>
    </div>
    <div class="meal-nutrition">
      <br>
      <br>
      <p class="meal-nutrient">Kalorie: {{ meal.calories | number: '1.0-0' }} kcal</p>
      <p class="meal-nutrient">Tłuszcz: {{ meal.fat | number: '1.0-1' }}g</p>
      <p class="meal-nutrient">Węglowodany: {{ meal.carbs | number: '1.0-1' }}g</p>
      <p class="meal-nutrient">Białko: {{ meal.protein | number: '1.0-1' }}g</p>
    </div>
    <div class="meal-actions">
      <!-- <button class="copy-button" (click)="copyMealAction(meal)">Kopiuj</button> -->
      <button class="edit-button" (click)="sendMealToEdit(meal)">Edytuj posiłek</button>
      <button class="add-button" (click)="addProductsToMeal(meal.id)">Dodaj produkty</button>
      <button class="delete-button" (click)="onDeleteMeal(meal.id)">Usuń</button>
    </div>
  </div>
</div>