<body>
    <div class="star-web">
        <div class="header">
            <a class="Training-Notebook-Logo" href="/start-page"><img width="164" height="169" [src]="logoPath" alt="Logo Treningowego Notatnika" /></a>
            <nav>
                <ul class="nav-list">
                    <li>
                        <a href="https://facebook.com" class="facebook">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/facebook-circled.png" alt="facebook-circled"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/mat-rys" class="github">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/github.png" alt="github"/>
                        </a>
                    </li>
                    <li>
                        <a href="linkedin" class="linkedin">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/linkedin.png" alt="linkedin"/>
                        </a>
                    </li> 
                </ul>
            </nav>
        </div>
    </div>

    <hr class="separator1"> 

    <section class="hero">
        <p class="hero-title">Trenuj, rozwijaj się i osiągaj <br />
            cele, o których nigdy nie myślałeś <br />
            z Sportify</p>
        <p class="hero-description">Rozpocznij swoją fitnessową podróż już dziś i odkryj świat możliwości. <br />
            Niezależnie od tego, czy chcesz poprawić swoje osiągnięcia sportowe, czy po prostu <br />
            dążyć do zdrowszego stylu życia, jesteśmy tu, aby wspierać Cię na <br />
            drodze do wielkości. Napiszmy razem Twoją historię sukcesu w fitnessie ZA DARMO! 
        </p>
        <div class="reg-and-log">
            <a class="registration-button" href="/registration"><button>Zarejestruj się</button></a> 
            <a class="login-button" href="/login"><button>Zaloguj się</button></a>
        </div>      
    </section>
    
    <hr class="separator2"> 

    <a class="scroll-down" (click)="scrollDown()">
        <button>
          Zobacz więcej
          <img class="scroll-down-img" width="22" height="22" src="https://img.icons8.com/ios-filled/50/FFFFFF/circled-down-2.png" alt="circled-down-2"/>
        </button>
    </a>

    <section class="hero2" #hero2Section>
        <div class="Personal-Account">
            <img [src]="content[currentContentIndex].image" alt="zdjęcie strony rejestracji"/>
            <p class="profile-title">{{ content[currentContentIndex].title }}</p>
            <p class="profile-description">{{ content[currentContentIndex].description }}</p>
        </div>
        <div class="dot-container">
            <span class="dot" *ngFor="let item of content; let i = index" 
                  [class.active]="currentContentIndex === i" 
                  (click)="goToContent(i)"></span>
        </div>
    </section>
</body>
