body {
  margin: 0;

  width: 100%;
  height: 100%;
  user-select: none;
  margin-top: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.star-web {
  display: flex;
  justify-content: center; /* Wyśrodkuj pasek nawigacyjny w poziomie */
  align-items: center;
  padding: 0px;
  background-color: #092640;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row; /* Zmień na poziomy układ */
  align-items: center;
  justify-content: flex-end; /* Przesuń przyciski na prawą stronę */
 
  margin-top: 5px;

  width: auto; /* Ustaw szerokość na auto, aby dopasować do ilości przycisków */
}

.nav-list .logo {
  display: flex;
  justify-content: flex-end; /* Przesuń logo na prawy róg */
  align-items: center;
  margin-right: 20px; /* Przesuń logo tylko o 20px w prawo */
}

.nav-list .logo a:hover {
  color: #4009A5; /* Ustaw kolor tekstu na fioletowy */
  color: #fff;
  border-radius: 20px; /* Dodano zaokrąglenie na hover */
}

/* Przyciski nawigacyjne */
.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center; /* Przesuń przyciski na środek */

}

.nav-buttons a {
  text-decoration: none;
}

.nav-buttons button {
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-radius 0.3s ease-in-out; /* Dodano transition na border-radius */
  border-radius: 0; /* Usunięto border-radius z początkowego stylu */
}

.nav-buttons button:hover {
  background-color: #4009A5;
  color: #fff;
  border-radius: 20px; /* Dodano zaokrąglenie na hover */
}

.content {
  flex-grow: 1;
  margin-left: 200px; 
}
  

  .hero {
    background-color: #0D66B4;
    padding: 50px;
    text-align: center;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-container input {
    padding: 10px;
    border: none;
    border-radius: 29px; 
    margin-right: 10px;
    width: 400px; 
    height: 20px; 
  }
  
  .round-button {
    padding: 12px;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px; 
    background-color: white;;
    color: white;
    cursor: pointer;
  }


/* Styl notatki */
.note-card {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 200px;
  width: 350px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: width 0.3s, height 0.3s; /* Animacja dla zmiany rozmiaru notatki */
  text-overflow: ellipsis; /* Wyświetlaj trzy kropki, gdy tekst jest przycięty */
  white-space: nowrap; /* Unikaj przełamania wiersza */
  overflow: visible;
}

.note-card:not(.expanded) h2,
.note-card:not(.expanded) p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-card.expanded {
  width: 450px; /* Zwiększ szerokość */
  height: auto; /* Pozwól na automatyczne dostosowanie wysokości */
  white-space: normal; /* Pozwól na przełamywanie linii */
  word-wrap: break-word; /* Przełamuj słowa, które są za długie, aby zmieścić się w linii */
}

.note-card:hover {
  transform: scale(1.1);
}

.note-card h2 {
  font-size: 24px; /* Zwiększenie rozmiaru tytułu */
  margin-top: 0;
  overflow: visible;
  white-space: normal;
  color: black; /* Kolor tytułu */
}

.note-card p {
  font-size: 16px;
  margin: 10px 0;
  white-space: normal;
  overflow: visible;
  color: black; /* Kolor tekstu notatki */
}

.date-info {
  display: flex;
  justify-content: space-between;
  color: black; /* Kolor daty */
}

.date-info strong {
  font-weight: bold;
}

.date-info {
  display: flex;
  justify-content: space-between;
  color: black; /* Kolor daty */
}

.date-info strong {
  font-weight: bold;
}


.background-content-photo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
  transform: scale(1.1); /* Przykładowe powiększenie o 10% */
}

/* Dodaj ten kod do arkusza stylów */
.action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.action-buttons button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background: linear-gradient(to bottom, #00B2C8, #480DF0);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.action-buttons button:hover {
  background-color: #0056b3;
}

.edit-button {
  background-color: #17a2b8;
}

.delete-button {
  background-color: #dc3545;
}

/* Styl dla przycisku "Add Note" */
.add-note-button {
  display: flex;
  justify-content: flex-end;
  margin-left: 700px;
  transition: transform 0.4s ease;
}

.add-note-button:hover {
  transform: scale(1.2);
}

.add-note-button button {
 

  padding: 10px 20px; /* Zwiększ odstępy wewnątrz przycisku */
  font-size: 16px;
  background: linear-gradient(to bottom, #00B2C8, #480DF0);
  color: #fff;
  border: none;
  border-radius: 30px; /* Zaokrąglij krawędzie przycisku */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add-note-button button:hover {
  background-color: #1a5a9f; /* Kolor przycisku "Add Note" po najechaniu myszką */
}

/* Styl dla formularza edycji notatki */
.edit-form {
  
  border-radius: 10px; /* Zaokrąglij rogi formularza */
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  margin-left: -50px;
  margin-bottom: 30px;
}


.edit-form h2 {
  font-size: 24px;
  color:#fff; /* Kolor tytułu */
  margin-bottom: 20px;
}

.edit-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  border-radius: 10px; /* Zaokrąglij rogi inputów */
  margin: 10px 0;
  font-size: 16px;
}

.edit-form button {
  padding: 8px 20px;
    background: linear-gradient(to bottom, #00B2C8, #480DF0);
    color: #fff;
    border: none;
    margin: 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.edit-form button:hover {
  background-color: #0056b3;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 10px;
}

.arrow-left,
.arrow-right {
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px; /* Dostosuj marginesy według potrzeb */
}

.date {
  font-size: 18px;
  font-weight: bold;
}

.calendar-container {
  margin-top: 10px;
}

.calendar-container input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 130px;
}



.calendar-container input[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.calendar-container input[type="date"]::-webkit-calendar-picker-indicator:before {
  content: '\1F4C6'; /* Emoji ikony kalendarza */
  display: inline-block;
  margin-right: 5px;
}

.calendar-container input[type="date"]:focus {
  outline: none;
  border-color: dodgerblue;
  box-shadow: 0 0 5px dodgerblue;
}

.success-message {
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #32CD32; /* Zielony kolor */
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999; /* Upewnij się, że wiadomość jest na wierzchu */
  animation: fadeOut 2s forwards;
}

.success-message p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

@keyframes fadeOut {
0% {
  opacity: 1;
}
100% {
  opacity: 0;
}

}











