
  <div id="photo-background" ></div>
  <app-navbar (logout)="handleLogout()"></app-navbar> 

  <app-date-selector 
    [selectedDate]="selectedDate" 
    [daysForMonth]="daysForMonth" 
    (dateChange)="onDateChange($event)" 
    (nextDate)="changeDate(1)" 
    (prevDate)="changeDate(-1)">
  </app-date-selector>

  <div class="add-note-button">
    <a href="/notes-add">
      <button>
        <i class="fas fa-add"></i> Add note
      </button>
    </a>
  </div>
  
  <app-content 
    [loadedNotes]="notes" 
    (updateNote)="updateNote($event)"
    (deleteNote)="deleteNoteConfirmation($event)">
  </app-content>
 
 <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  
  
