<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
</head>
<body>
    <div class="star-web">
        <div class="header">
            <a class="Training-Notebook-Logo" href="http://localhost:4200/"><img width="164" height="169" [src]="logoPath" alt="Training-Notebook-Logo" /></a>
            <nav>
                <ul class="nav-list">
                    <li>
                        <a href="https://facebook.com" class="facebook">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/facebook-circled.png" alt="facebook-circled"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/mat-rys" class="github">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/github.png" alt="github"/>
                        </a>
                    </li>
                    <li>
                        <a href="linkedin" class="linkedin">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/linkedin.png" alt="linkedin"/>
                        </a>
                    </li> 
                </ul>
            </nav>
        </div>
    </div>
    <hr class="separator1"> <!-- Czarna linia oddzielająca --> 
    
    <section class="hero">
    <div class="login-section">
        <div class="left-column">
            <p class="hero-title">Check the possibilities of monitoring <br> 
                results by logging into your account</p>
            <div class="buttons">
                <button class="login-button">Log in</button>
                <button class="username-button">username</button>
                <button class="password-button">password</button>
                <p class="remember-forget">Remember me | Forgot password?</p>
            </div>
        </div>
        <div class="right-column">
             <img [src]="women_login" alt="Your Image" class="image"/>
        </div>
    </div>
</section>


    <section class="foot">
        <p>(c) Copyright Robert Fox 2022. All rights reserved.</p>
        <a href="#"><button>Privacy Policy</button></a>
        <a href="#"><button>Terms & Conditions</button></a>
    </section>
</body>