<body>
  <div id="photo-background"></div>
  <app-navbar (logout)="handleLogout()"></app-navbar> 

  <div class="products-list-button">
    <a href="/nutrition/products-list"><button><i class="fas fa-add"></i> Lista produktów</button></a>
  </div>
  
  <div class="hero">
    <form (submit)="createProduct()">
      <div class="search-container">
        <div class="input-container">
          <label for="title">Nazwa:</label>
          <input class="title" type="text" id="title" [(ngModel)]="title" name="title" required>
        </div>
        <div class="input-container">
          <label for="calories">Kalorie:</label>
          <input class="title" type="number" id="calories" [(ngModel)]="calories" name="calories" required>
        </div>
        <div class="input-container">
          <label for="grams">Gramy:</label>
          <input class="activity" type="number" id="grams" [(ngModel)]="grams" name="grams" required>
        </div>
        <div class="input-container">
          <label for="carbs">Węglowodany:</label>
          <input class="activity" type="number" id="carbs" [(ngModel)]="carbs" name="carbs" required>
        </div>
        <div class="input-container">
          <label for="protein">Białko:</label>
          <input class="activity" type="number" id="protein" [(ngModel)]="protein" name="protein" required>
        </div>
        <div class="input-container">
          <label for="fat">Tłuszcz:</label>
          <input class="activity" type="number" id="fat" [(ngModel)]="fat" name="fat" required>
        </div>
        <button class="submit-button" type="submit">Utwórz produkt</button>
      </div>
    </form>
    
  </div>
  <div *ngIf="productCreated" class="product-created-message">
    Produkt został pomyślnie utworzony!
  </div>
  <div *ngIf="productError" class="product-error-message">
    Proszę wypełnić wszystkie pola poprawnie.
  </div>
  
</body>
