body {
    margin: 0;
    background-color: #0D66B4;
    background-size: auto;
    width: 100%;
    height: 100%;
    user-select: none;
    margin-top: -10px;
    margin-left: 8.4px;
  }
  
  .star-web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #092640;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px; 
  }
  
  .nav-list .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .nav-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .nav-buttons a {
    text-decoration: none;
  }
  
  .nav-buttons button {
    padding: 12px 16px;
    font-size: 18px;
    background-color: #5B31D1;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav-buttons button:hover {
    background-color: #4009A5;
  }
  
  .content {
    flex-grow: 1;
    margin-left: 200px; 
  }
  
  .header {
    display: flex;
    align-items: center;
  }
  
  .hero {
    background-color: #0D66B4;
    padding: 50px;
    text-align: center;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-container input {
    padding: 10px;
    border: none;
    border-radius: 29px; 
    margin-right: 10px;
    width: 400px; 
    height: 20px; 
  }
  
  .round-button {
    padding: 12px;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px; 
    background-color: white;;
    color: white;
    cursor: pointer;
  }
  
 
/* foot */
.foot {
  text-align: center;
  padding: 20px 0;
  margin-top: 170px; /* Margines od góry */
  margin-left: 220px; /* Margines z lewej strony (szerokość .nav-list) */
  margin-right: 00px; /* Margines z prawej strony (szerokość .additional-sections) */
  background-color: #f0f0f0;
}

.foot p {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.foot a {
  text-decoration: none;
  margin: 0 10px;
}

.foot button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.foot button:hover {
  background-color: #0056b3;
}
/* ///////////////// */























