
<section class="date-selection">
    <div class="header">
        <span class="arrow-left" (click)="onPrevDate()"><</span>
        <span class="date">{{ selectedDate | date:'dd.MM.yyyy' }}</span>
        <span class="arrow-right" (click)="onNextDate()">></span>
    </div>
      
    <mat-form-field appearance="fill">
      <mat-label>Wybierz datę</mat-label>
      <input matInput [matDatepicker]="picker" [value]="selectedDate" (dateChange)="onDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
</section>

  