
.date-selection{
    margin-top: 70px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
  }
  
  .arrow-left,
  .arrow-right {
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px; 
  }
  
  .date {
    font-size: 18px;
    font-weight: bold;
  }
  
  .calendar-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .calendar-container input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 130px;
  }
  
  
  
  .calendar-container input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
  }
  
  .calendar-container input[type="date"]::-webkit-calendar-picker-indicator:before {
    content: '\1F4C6';
    display: inline-block;
    margin-right: 5px;
  }
  
  .calendar-container input[type="date"]:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
  }
  
  input[type="date"].highlight {
    background-color: #ff0; /* Zmień na kolor, który chcesz użyć do podświetlenia */
  }
  
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */














.my-datepicker{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  margin-top: 10px;
}

.mat-form-field {
  font-size: 0.9rem;
  background-color: white;
  border-radius: 5px;
}

::ng-deep .mat-datepicker-content {
position: absolute;
top: 50px;
left: 350px; 
transform: scale(0.75);
background-color: #f0f0f0; 
color: white;
}

/* Dopisek jaki miesiać u góry */
::ng-deep .mat-calendar-body{
  font-size: 0.75rem;
  color: white

}

::ng-deep .mat-calendar-period-button {
  font-size: 0.75rem;
  color: white !important; /* Dodajemy tę linię */
}

::ng-deep .mat-calendar-period-button {
  font-size: 0.75rem;
  color: white !important;
}

::ng-deep .mat-calendar-previous-button,
::ng-deep .mat-calendar-next-button{
  font-size: 0.75rem;
  color: #ccc !important;
}

/* Dni tygodnia u góry */
::ng-deep .mat-calendar-table-header {
  color: white;
}


/* Kolor tła dla strzałek nawigacyjnych */
::ng-deep .mat-calendar-previous-button,
::ng-deep .mat-calendar-next-button {
  background-color: white;
}

/* Kolor tła dla dni miesiąca */
::ng-deep .mat-calendar-body-cell-content {
  position: absolute; 
  background-color: white;
}

::ng-deep button.example-custom-date-class  {
  color: #B251B7 !important;
}

/* Kolor tekstu dla numeru dnia w wybranych dniach miesiąca */
::ng-deep .example-custom-date-class .mat-calendar-body-cell-content {
  background-color: #B251B7 !important;
  color: white !important;
}

/* ::ng-deep .mat-calendar-close {
  position: relative;
  top: -1000px;
  color: #2BA844;
} */







