<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
</head>
<body>
    <div class="star-web">
        <div class="header">
            <a class="Training-Notebook-Logo" href="http://localhost:4200/"><img width="164" height="169" [src]="logoPath" alt="Training-Notebook-Logo" /></a>
            <nav>
                <ul class="nav-list">
                    <li>
                        <a href="https://facebook.com" class="facebook">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/facebook-circled.png" alt="facebook-circled"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/mat-rys" class="github">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/github.png" alt="github"/>
                        </a>
                    </li>
                    <li>
                        <a href="linkedin" class="linkedin">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/linkedin.png" alt="linkedin"/>
                        </a>
                    </li> 
                </ul>
            </nav>
        </div>
    </div>
    <hr class="separator1"> <!-- Czarna linia oddzielająca -->


    <section class="hero">
        <p class="hero-title">Train, progress and achieve <br />
            goals with Training <br />
            Notebook</p>
        <p class="hero-description">Start your fitness journey today and unlock a world of possibilities.  <br />
                Whether you're seeking to enhance your athletic performance or simply  <br />
                aiming to lead a healthier lifestyle, we're here to empower you on your <br />
                path to greatness. Let's write your fitness success story together! 
        </p>
            <div class="reg-and-log">
                <a class="registration-button" href="#"><button>Register</button></a> 
                <a class="login-button" href="#"><button>Log in</button></a>
            </div>       
    </section>
    
    <hr class="separator2"> <!-- Czarna linia oddzielająca -->

    <section class="Personal Account">
            <p class="profile-title">Personal Accounts <br />
                Your Fitness Journey, Your Way<p>
            <p class="profile-description">Create your personalized account and unlock a world of convenience and accessibility.<br />
                 With your account, access Training Notebook from anywhere,<br />
                 anytime, and take charge of your fitness journey like never before. </p>
            <img  src="https://user-images.githubusercontent.com/98847639/231208483-d7b91dee-2ca9-4e9b-a3ab-c0a55b07b5a6.png" alt="register-page-api-photo"/>
    </section>

    <section class="Notes">
        <p class="notes-title">Training Tracking Made Easy  <br />
            Take Control of Your Progress</p>
        <p class="notes-description">Log your workouts, track your progress, and witness your growth in real-time.<br />
             Training Notebook's intuitive tools empower you to stay on top of your fitness<br />
              game and make every workout coun </p>
        <img width="94" height="94" src="https://user-images.githubusercontent.com/98847639/233791116-ad3e78f7-a346-4ebd-bba2-ffd8ec8af165.png" alt="notes-page-api-photo"/>
    </section>

    <section class="BMI calculator">
        <h1>BMI Calculator  <br />
            Your Gateway to Health Insights</h1>
        <p>Discover the power of our BMI calculator to understand your body better.<br />
             Easily add, save, and compare your BMI measurements, and gain valuable insights to <br />
              shape your fitness goals effectively.</p>
        <img width="94" height="94" src="#" alt="bmi-page-api-photo"/>
    </section>

    <section class="foot">
        <p>(c) Copyright Robert Fox 2022. All rights reserved.</p>
        <a href="#"><button>Privacy Policy</button></a>
        <a href="#"><button>Terms & Conditions</button></a>
    </section>
</body>


