<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
</head>
<body>
    <div class="star-web">
        <div class="header">
            <a class="Training-Notebook-Logo" href="/start-page"><img width="164" height="169" [src]="logoPath" alt="Logo Treningowego Notatnika" /></a>
            <nav>
                <ul class="nav-list">
                    <li>
                        <a href="https://facebook.com" class="facebook">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/facebook-circled.png" alt="facebook-circled"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/mat-rys" class="github">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/github.png" alt="github"/>
                        </a>
                    </li>
                    <li>
                        <a href="linkedin" class="linkedin">
                            <img width="40" height="40" src="https://img.icons8.com/3d-fluency/94/linkedin.png" alt="linkedin"/>
                        </a>
                    </li> 
                </ul>
            </nav>
        </div>
    </div>
    <hr class="separator1"> 
    
    <section class="hero">
        <div class="login-section">
            <div class="left-column">
                <p class="hero-title">Sprawdź możliwości monitorowania <br> 
                    wyników, logując się na swoje konto</p>
                <div class="form-fields">
                    <div class="input-field">
                        <input type="text" class="username-field" placeholder="Nazwa użytkownika">
                        <img src="https://img.icons8.com/ios/452/username.png" alt="Ikona Nazwy Użytkownika" class="input-icon">
                    </div>
                    <div class="input-field">
                        <input type="password" class="password-field" placeholder="Hasło" (keydown.enter)="getToken()">
                        <img src="https://img.icons8.com/ios/452/password.png" alt="Ikona Hasła" class="input-icon">
                    </div>
                </div>
                <div class="input">
                    <div class="remember-forget">   
                        <a href="/password" class="forget-password">Zapomniałeś hasła?</a>
                    </div>
                    <button class="login-button" (click)="getToken()">Zaloguj się</button>
                </div>
                <p class="register-link">Nie masz konta? <a href="/registration">Zarejestruj się za darmo</a></p>
            </div>
            <div class="right-column">
                <img [src]="women_login" alt="Twoje zdjęcie" class="image"/>
            </div>
        </div>
    </section>
    
 
    <section class="foot">
        <p>(c) Copyright Mateusz 2024. Wszelkie prawa zastrzeżone.</p>      
        <a href="#"><button>Polityka Prywatności</button></a>
        <a href="#"><button>Warunki Użytkowania</button></a>
    </section>
</body>