
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
</head>
<body>
  <div class="background-content-photo">
    <img width="1903" height="1050" src="{{ notesPath }}" alt="Your Image" class="image"/>
  </div>

  <section lass="star-web">
    <nav class="nav-list">
      <div class="logo">
        <a class="Training-Notebook-Logo" href="http://localhost:4200/">
          <img width="74" height="49" src="{{ logoPath }}" alt="Training-Notebook-Logo" />
        </a>
      </div>
      <div class="nav-buttons">
        <a href="http://localhost:4200/account"><button><i class="fas fa-user"></i> Profile</button></a>
        <a href="http://localhost:4200/notes"><button><i class="fas fa-book"></i> Notes</button></a>
        <a href="http://localhost:4200/bmi-chart"><button><i class="fas fa-envelope"></i> Bmi calculator </button></a>
        <a href="http://localhost:4200/nutrition"><button><i class="fas fa-cog"></i> Counting food</button></a>
        <a href="/login"  (click)="logout()"><button><i class="fas fa-sign-out-alt"></i> Logout</button></a>
      </div>
    </nav>
  </section> 

  <div class="hero">
    <form (submit)="createNote()">
      <div class="search-container">
        <input class="title" type="text" placeholder="Title" [(ngModel)]="Wtitle" name="Wtitle" required>
        <input class="activity" type="text" placeholder="Activity Type" [(ngModel)]="WactivityType" name="WactivityType" required>
        <textarea class="description" placeholder="Description" [(ngModel)]="Wdescription" name="Wdescription" required></textarea>
        <input class="date-start" type="date" placeholder="Start Date" [(ngModel)]="WstartDate" name="WstartDate" required>
        <input class="date-end" type="date" placeholder="End Date" [(ngModel)]="WendDate" name="WendDate" required>
        <button class="submit-button" type="submit">Create Note</button>
      </div>
    </form>
  </div>
  
  

 
  


</body>