<section class="star-web">
  <nav class="nav-list">
      <div class="logo">
          <a class="Training-Notebook-Logo" href="/start-page">
              <img width="74" height="49" src="{{ logoPath }}" alt="Training-Notebook-Logo" />
          </a>
      </div>
      <div class="nav-buttons">
          <a href="/account/admin-managment"><button><i class="fas fa-envelope"></i> Użytkownicy</button></a>
          <a href="/account/session-managment"><button><i class="fas fa-envelope"></i> Sesje</button></a>
          <a href="/login" (click)="onLogout()"><button><i class="fas fa-sign-out-alt"></i> Wyloguj się</button></a>
      </div>
  </nav>
</section>
