  <div class="search-bar">
    <input type="text" placeholder="Search for products" [(ngModel)]="searchQuery" (keyup)="onKeyUp()" />
    <button (click)="searchProducts()"><i class="fas fa-search"></i></button>      
  </div>

  <div *ngIf="editingProduct" class="edit-form">
    <h2>Edit Product</h2>
    <input [(ngModel)]="editingProduct.title" placeholder="Title">
    <input [(ngModel)]="editingProduct.calories" placeholder="Calories">
    <input [(ngModel)]="editingProduct.grams" placeholder="Grams">
    <input [(ngModel)]="editingProduct.carbs" placeholder="Carbs">
    <input [(ngModel)]="editingProduct.fat" placeholder="Fat">
    <input [(ngModel)]="editingProduct.protein" placeholder="Protein">
    <button (click)=" onUpdateNote()">Update</button>
    <button (click)="cancelEdit()">Cancel</button>
   </div>

  <div class="product-list">
    <div *ngFor="let product of (searchQuery ? filteredProducts : loadedProducts)" class="product-item">
      <div class="product-header">
        <h2>{{ product.title }}</h2>
        <div class="product-buttons">
          <button class="edit-button" (click)="scrollToTop()" (click)="editProduct(product)"><i class="fas fa-edit"></i> Edit</button>
          <button class="delete-button" (click)=" onDeleteProduct(product)">Delete</button>
        </div>
      </div>
      <div class="product-details">
        <p>Calories: {{ product.calories }}</p>
        <p>Grams: {{ product.grams }}</p>
        <p>Carbs: {{ product.carbs }}</p>
        <p>Protein: {{ product.protein }}</p>
        <p>Fat: {{ product.fat }}</p>
      </div>
    </div>
  </div>
